.Login {
  height: 100vh;
}

.content {
  height: 100%;
  z-index: 2;
  position: relative;
}

.line1 {
  font-family: "Poppins-SemiBold";
  font-size: 70px;
  color: #474448;
}

.line2 {
  font-family: "Degradasi";
  font-size: 70px;
  color: #d80085;
  line-height: 1;
}

.icon {
  color: #474448;
}

.formBox {
  background-color: #e8b4bc !important;
  border: none !important;
  font-family: "Poppins-Regular";
}

.password {
  font-family: "Poppins-Light";
  cursor: pointer;
}

.modalTitle {
  font-family: "Degradasi";
  color: #d80085 !important;
  vertical-align: middle;
}

.modalBody {
  font-family: "Poppins-Medium";
  text-align: center;
  color: #474448;
}
