.Login {
  height: 100vh;
}

.content {
  height: 100%;
  z-index: 2;
  position: relative;
}

.line1 {
  font-family: "Poppins-SemiBold";
  font-size: 60px;
  color: #474448;
}

.line2 {
  font-family: "Degradasi";
  font-size: 60px;
  color: #d80085;
  line-height: 1;
}

.icon {
  color: #474448;
}

.formBox {
  background-color: #e8b4bc !important;
  border: none !important;
  font-family: "Poppins-Regular";
}

.password {
  font-family: "Poppins-Light";
  border: none;
  cursor: pointer;
}

.modalTitle {
  font-family: "Degradasi";
  color: #d80085 !important;
  vertical-align: middle;
}

.modalBody {
  font-family: "Poppins-Medium";
  text-align: center;
  color: #474448;
}

.image {
  margin-right: 10px;
}

.toastHeader {
  font-family: "Poppins-Medium" !important;
  color: white !important;
  background-color: #b22222 !important;
}

.toast {
  font-family: "Poppins-Regular" !important;
  color: #b22222 !important;
}

.msButton {
  background-color: #00a4ef !important;
  border: none !important;
  border-radius: 200px !important;
  font-family: "Poppins-SemiBold" !important;
  font-size: 15px !important;
}

.spinner {
  color: #d80085;
  font-family: "Poppins-Medium";
  vertical-align: middle;
  margin-right: 10px;
}
