.navbar {
  position: fixed !important;
}

.sidebar {
  background-color: #3a3238 !important;
}

.toggle {
  color: #e8b4bc !important;
  background-color: #3a3238 !important;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 1) !important;
  margin-right: 20px !important;
}

.active {
  color: #3a3238 !important;
  background-color: #e8b4bc !important;
  font-family: "Poppins-SemiBold";
  font-size: 1.1em !important;
  border-radius: 10px;
}

.navItem {
  color: #e8b4bc !important;
  font-family: "Poppins-SemiBold";
  font-size: 1.1em !important;
  border-radius: 10px;
}

.navItem:hover {
  color: #3a3238 !important;
  background-color: #e8b4bc !important;
}

@media screen and (min-width: 1200px) {
  .sidebar {
    width: 20% !important;
  }
}

.logout {
  margin-top: auto !important;
}

.circle {
  width: 7em;
  height: 7em;
  background-color: #f0f0f0;
  border-radius: 50%;
}

.name {
  font-family: "Poppins-SemiBold";
  color: #e8b4bc;
}

.empId {
  font-family: "Poppins-Regular";
  color: #e8b4bc;
}
