.background {
    height: 100vh;
    background-color: #F5E3E0;
}

.header {
    background-color: #D80085 !important;
    padding: 10px;
    padding-left: 30px;
    padding-top: 20px;
    font-family: "Degradasi";
    margin-bottom: 2rem;
    font-size: 25px;
    border-radius: 0%;
    color: white !important; 
}

.word {
    padding-left: 5em;
    font-family: "Degradasi";
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
.box {
    width: 80%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
}
  
.boxContent {
    padding: 20px;
}

.navHeader {
    font-family: "Poppins-Medium";

}

.saveBtnContainer {
    position: absolute;
    bottom: 20px; 
    right: 20px;
    background-color: #D80085;
}

.saveBtn{
    background-color: #D80085;
    border-color: #D80085;
}
  
.boxContent {
    position: relative;
}
  
