.label {
  font-family: "Degradasi";
  color: #3a3238;
}

.employeeDetails {
  font-family: "Poppins-Medium";
}

.searchBar {
  font-family: "Poppins-Regular";
  border-radius: 7px;
  border: none;
}

.filterText {
  font-family: "Poppins-Medium";
}

.filterOption {
  font-family: "Poppins-Regular";
}

.tableHeader {
  background-color: #9d084a !important;
  font-family: "Poppins-Medium";
  color: white !important;
  border-radius: 10px 10px 0 0 !important;
}

.tableBody {
  font-family: "Poppins-Regular";
  border-radius: 0 0 0 0 !important;
  cursor: pointer;
}

.tableBody:hover {
  background-color: rgb(232, 232, 232);
}

.cardHeader {
  background-color: #e8b4bc !important;
  font-family: "Poppins-SemiBold";
  font-size: 1.2rem;
}

.cardBody {
  font-family: "Poppins-Regular";
}

.formLabel {
  font-family: "Poppins-SemiBold";
}

.formBox {
  border: grey 1px solid !important;
}

.triangle {
  cursor: pointer;
}

.commentEdit {
  cursor: pointer;
  color: #3a3238;
}

.commentDelete {
  cursor: pointer;
  color: red;
}

.comment {
  font-family: "Poppins-Light";
}

.button {
  background-color: #d80085 !important;
  border: none !important;
}

.pointsBox {
  font-family: "Poppins-SemiBold";
  color: #d80085 !important;
}

.msg {
  font-family: "Poppins-SemiBold";
  color: #d80085;
}

.termPoints {
  font-family: "Degradasi";
  line-height: 1.3em;
}

.validPoints {
  font-size: 2.3em;
}

.requiredPoints {
  font-size: 1.3em;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #5a0431 !important; 
  padding: 10px;
}

.pagination-container .pagination {
  display: inline-flex;
}

.pagination-container .pagination li a {
  color: white; 
  font-weight: bold; 
}

.pagination-container .pagination li.active a {
  background-color: white; 
  color: #5a0431; 
}

.pagination-container .pagination li a:hover {
  background-color: #ff4081; 
  color: white; 
}

.pagination-container .pagination li a:focus {
  outline: none; 
}

.pagination-container .pagination li.disabled a {
  pointer-events: none;
  opacity: 0.6; 
}

.blackCard {
  background-color: black !important;
}

.cardTitle{
  color: white;
}

.cardList{
  background-color: black !important;
  border-color: black !important;
  border: none !important;
}

.listColor{
  background-color: black !important;
  color: white !important;
}

.depStat{
  color: white !important;
}

.cardCol1{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: white;
}

.lackingPercent {
  justify-content: center;
  font-size: 2.5rem; /* Adjust the size as needed */
  font-weight: bold; /* Makes the text bold */
  font-family: 'Poppins', sans-serif; /* Set font to Poppins */
  text-align: center; /* Center the text within the row */
}


.lackingTitle{
  
}

.pieCol{
  height: 250px;
}


