.tableHeader {
    background-color: #e8b4bc !important;
    font-family: "Poppins-Medium";
    border-radius: 10px 10px 0 0 !important;
}

.tableBody {
    font-family: "Poppins-Regular";
    border-radius: 0 0 0 0 !important;
    cursor: pointer;
}

.tableBody:hover {
    background-color: rgb(232, 232, 232);
}

.table-content {
    overflow: hidden;  /* Hide overflowing content */
    white-space: nowrap;  /* Prevent text from wrapping to a new line */
    text-overflow: ellipsis;  /* Display ellipsis (...) for overflowing text */
}

.searchBar {
    font-family: "Poppins-Regular";
    border-radius: 7px;
    border: none;
}

.cardBody {
    font-family: "Poppins-Regular";
}
  