.background {
  height: 100vh;
  background-color: #3a3238;
}

.header {
  background-color: #e8b4bc;
  padding: 10px;
  padding-left: 30px;
  padding-top: 20px;
  font-family: "Degradasi";
  margin-bottom: 2rem;
}

.triangle {
  color: #3a3238 !important;
  cursor: pointer;
}

.icon {
  color: #3a3238 !important;
}

.brand {
  font-family: "Degradasi";
  font-size: 2rem;
  color: #d80085;
  vertical-align: middle;
}

.formIcon {
  color: #474448;
}

.iconBox {
  background-color: white !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.form {
  font-family: "Poppins-Regular" !important;
}

.image {
  margin-right: 10px;
}

.toastHeader {
  font-family: "Poppins-Medium" !important;
  color: white !important;
  background-color: #b22222 !important;
}

.toast {
  font-family: "Poppins-Regular" !important;
  color: #b22222 !important;
}
