.container {
    height: 100vh;
    background-color: #3A3238;
}

.header {
    background-color: #E8B4BC;
    padding: 10px;
    padding-left: 30px;
    padding-top: 20px;
    font-family: "Degradasi";
}

.container2 {
    background-color: #fff;
    margin: 8em auto;
    width: 40em;
    height: auto;
    border-radius: 20px;

}

.inputGroup{
    padding-left: 3em;
    padding-right: 2em;
    padding-top: 1em;
    width: 100%; /* Ensure input group does not exceed container width */
    box-sizing: border-box; /* Include padding in width calculation */
    color: black;
    font-family: Poppins-Regular;
    
}

.inputMargin {
    margin-bottom: 20px;
    border-radius: 6px !important;
}

.regBtnContainer{
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: center;
    
}