.label {
  font-family: "Degradasi";
  color: #3a3238;
}

.employeeDetails {
  font-family: "Poppins-Medium";
}

.searchBar {
  font-family: "Poppins-Regular";
  border-radius: 7px;
  border: none;
}

.filterText {
  font-family: "Poppins-Medium";
}

.tableHeader {
  background-color: #e8b4bc !important;
  font-family: "Poppins-Medium";
  border-radius: 10px 10px 0 0 !important;
}

.tableBody {
  font-family: "Poppins-Regular";
  border-radius: 0 0 0 0 !important;
  cursor: pointer;
}

.tableBody:hover {
  background-color: rgb(232, 232, 232);
}

.cardHeader {
  background-color: #e8b4bc !important;
  font-family: "Poppins-SemiBold";
  font-size: 1.2rem;
}

.cardBody {
  font-family: "Poppins-Regular";
}

.formLabel {
  font-family: "Poppins-SemiBold";
}

.formBox {
  border: grey 1px solid !important;
}

.pointsBox {
  border: grey 1px solid !important;
  font-family: "Poppins-SemiBold";
  color: #d80085 !important;
}

.points {
  font-family: "Poppins-SemiBold";
  color: #d80085 !important;
}

.triangle {
  cursor: pointer;
}

.iconBox {
  background-color: #e8b4bc !important;
  color: #3a3238 !important;
}

.button {
  background-color: #d80085 !important;
  border: none !important;
}

.commentEdit {
  cursor: pointer;
  color: #3a3238;
}

.commentDelete {
  cursor: pointer;
  color: red;
}

.comment {
  font-family: "Poppins-Light";
}

.imgProof {
  height: 60%;
  width: 60%;
}

.msg {
  font-family: "Poppins-SemiBold";
  color: #d80085;
}
