.label {
  font-family: "Degradasi";
  color: #3a3238;
}

.navHeader {
  font-family: "Poppins-Medium";
  margin-right: 5px;
}

.activeTab {
  font-family: "Poppins-SemiBold";
  color: #3a3238 !important;
  background-color: #e8b4bc !important;
}

.inactiveTab {
  color: #f5e3e0 !important;
  background-color: #3a3238 !important;
}

.card {
  border-top-left-radius: 0 !important;
}

.form {
  font-family: "Poppins-Regular";
}

.formLabel {
  font-family: "Poppins-Medium";
}

.formBox {
  border: grey 1px solid !important;
}

.table {
  font-family: "Poppins-Regular";
}

.searchBar {
  font-family: "Poppins-Regular";
  border-radius: 7px;
  border: none;
}

.icon {
  cursor: pointer;
}
